<header>
  <nav>
    <ul class="nav-left">
        <li><a href="/">Home</a></li>
    </ul>
    <ul class="nav-center">
      <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" id="domainDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Domain</a>
        <ul class="dropdown-menu" aria-labelledby="domainDropdown">
          <li><a class="dropdown-item" href="#">Subdomain 1</a></li>
          <li><a class="dropdown-item" href="#">Subdomain 2</a></li>
          <li><a class="dropdown-item" href="#">Subdomain 3</a></li>
        </ul>
      </li>      
      <li><a href="#">IT</a></li>
      <li><a href="#">Psychology</a></li>
      <li><a href="#">Math</a></li>
    </ul>
    <ul class="nav-right">
      <li><a href="#">About</a></li>
        <li><a href="#">Github</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <span class='tagline'>The documentation hub</span>
</header>
