<!-- define var -->
{% assign lTOPIC_DOMAIN      =  site.mx.domain  %} 
{% assign lTOPIC_CATEGORY    =  page.collection  %} 
{% assign lTOPIC_NAME        =  page.path | split: '/' | slice: 2, 1 | first | capitalize | strip  %} 
{% assign lTOPIC_DESC        =  page.mx.description  %} 
{% assign lSTOPIC_CLASSIFIER =  page.path | split: '/' | slice: 3, 1 | first  | capitalize | strip  | remove: '.md'%} 

<ul class="breadcrumb">
  <li><a href="/" translate='no'>Home</a></li>
  <li translate='no'>{{ lTOPIC_DOMAIN  }}</li>
  <li translate='no'><a href='/{{ lTOPIC_CATEGORY }}/index.html'>{{ lTOPIC_CATEGORY }}<a></li>
  <li>{{ lSTOPIC_CLASSIFIER }}</li>
  <li translate='no'>{{ lTOPIC_NAME }}</li>
</ul>

<!-- 
<li translate='no'>{{ page.path | split: "/" | slice: 1, 1 | first | downcase | strip % }}</li> 
-->
