<!-- declare and define var -->
{% assign lTOPIC_CATEGORY = page.collection %}

<h1>Browse {{ lTOPIC_CATEGORY }}</h1>

<div class="container my-4">
  <table class="table table-striped table-bordered sortable">
  <thead>
    <tr>
      <th translate='no'>name</th>
      <th translate='no'>kind</th>
      <th translate='no'>tag</th>
      <th>description</th>
      {%- comment -%} <th>debug</th> {%- endcomment -%}
    </tr>
  </thead>
  <tbody>
  <!-- list all files of a specific category -->
  {% for lFILE in site[lTOPIC_CATEGORY] %}
    {% assign lFILE_PATH           = lFILE.path %}
    {% assign lFILE_DEPTH          = lFILE_PATH | split: '/' | size | minus: 2 %}
    {% assign lTOPIC_NAME          = lFILE_PATH | split: '/' | slice: 2 | first | downcase | strip %}
    {% assign lSTOPIC_CLASSIFIER   = lFILE_PATH | split: '/' | slice: 3 | first | downcase | strip | remove: '.md' %}
    {% assign lTOPIC_NAME_EXPECTED = lTOPIC_NAME | append: '.md' %}
    <!-- filter this file -->
    {% unless lFILE.name == 'index.md' and lFILE_DEPTH == 0  %}
    <!-- list all whatis stopic file with a specific name for this category:topic -->
    {% if  lFILE_DEPTH == 2  or lSTOPIC_CLASSIFIER == 'whatis' and lFILE.name == lTOPIC_NAME_EXPECTED %}
      {% assign lTOPIC_URL         = lFILE.url    %}
      {% assign lTOPIC_TAG         = lFILE.mx.tag    %}
      {% assign lTOPIC_DESCRIPTION = lFILE.mx.description  %}
      <tr>
        <td translate='no'><a href='{{ lTOPIC_URL }}'>{{lTOPIC_NAME | capitalize}}</a></td>
        <td>{{ lSTOPIC_CLASSIFIER }}</td>
        <td>{{ lTOPIC_TAG }}</td>
        <td>{{ lTOPIC_DESCRIPTION }}</td>
        {%- comment -%} <td><li>depth = {{lFILE_DEPTH}}</li><li>title = {{ lFILE.title }}</li><li>type = {{lSTOPIC_CLASSIFIER}}</li> <li>url = {{ lTOPIC_URL }}</li><li>path = {{ lFILE_PATH }}</li></td> {%- endcomment -%}
      </tr>
    {% endif %}
    {% endunless %}
  {% endfor %}
  </tbody>
</table>
</div>

<!-- 
<ul>
  {% for item in site[page.collection] %}
    <li>
      <a href="{{ item.url }}">{{ item.title }} - {{ item.path }} </a>
    </li>
  {% endfor %}
</ul>
 -->


