<!-- v01 -->
<!-- declare and define var -->
{% assign lFILE_PATH      = page.path %}
{% assign lTOPIC_CATEGORY = page.collection %}
{% assign lTOPIC_NAME     = lFILE_PATH | split: '/' | slice: 2 | first | downcase | strip %}

<h1><span translation='no'>{{ lTOPIC_NAME }}</a> knowledge base</h1>

<div class="container my-4">
  <table class="table table-striped table-bordered sortable">
    <thead>
      <tr>
        <th>name</th>
        <th>kind</th>
        <th>description</th>
        <th>path</th>
      </tr>
    </thead>
    <tbody>
    <!-- list all files of a specific category -->
    {% for lFILE in site[lTOPIC_CATEGORY] %} 
      {% assign lFILE_PATH           = lFILE.path %}
      {% assign lFILE_DEPTH          = lFILE_PATH | split: '/' | size | minus: 2 %}
      {% assign lSTOPIC_CLASSIFIER   = lFILE_PATH | split: '/' | slice: 3, 1 | first | downcase | strip | remove: '.md' %}
      {% assign lTOPIC_NAME_EXPECTED = '/' | append: lTOPIC_NAME | append: '/' %}
      <!-- filter this file -->
      {% unless lFILE.name == 'index.md' and lFILE_DEPTH == 0 %}
        <!-- list only stopic file for this category:topic -->
        {% if lFILE_PATH contains lTOPIC_NAME_EXPECTED %}
          <!-- declare and define var -->
          {% assign lSTOPIC_FILE_PATH   = lFILE.path   %}
          {% assign lSTOPIC_URL         = lFILE.url    %}
          {% assign lSTOPIC_NAME        = lFILE.title  %}
          {% assign lSTOPIC_DESCRIPTION = lFILE.mx.description  %}
          <tr>
            <td><a href="{{ lSTOPIC_URL }}" class="text-primary">{{ lSTOPIC_NAME }}</a></td>
            <td>{{ lSTOPIC_CLASSIFIER }}</td>
            <td>{{ lSTOPIC_DESCRIPTION }}</td>
            <td>{{ lSTOPIC_FILE_PATH }}</td>
          </tr>
        {% endif %}
      {% endunless %}
    {% endfor %}
    </tbody>
  </table>
</div>


