<!-- declare and define var -->
{% assign lFILE_PATH      = page.path %}
{% assign lLIST_CATEGORY  = site.collections | where_exp: 'collection', 'collection.label != "posts"' %}
{% assign lLIST_REFERENCE = page.mx.ref %}
{% assign lTOPIC_NAME     = lFILE_PATH | split: '/' | slice: 2 | first | downcase | strip %}

{% if lLIST_REFERENCE %}
<h1 id='list_stopic'><span translation='no'>{{ lTOPIC_NAME }} helpful reference</h1>

  <div class="container my-4">
  <table class="table table-striped table-bordered sortable">
    <thead>
      <tr>
        <th>name</th>
        <th>class</th>
        <th>category</th>
        <th>description</th>
      </tr>
    </thead>
    <tbody>
      {% for lREFERENCE in lLIST_REFERENCE %}
        {% assign lREF_TOPIC_CLASSIFIER  = lREFERENCE | split: '/' | slice: 0 | first %}
        {% assign lREF_TOPIC_NAME        = lREFERENCE | split: '/' | slice: 1 | first %}
        {% assign lREF_FILENAME          = lREF_TOPIC_CLASSIFIER | append: '/' | append: lREF_TOPIC_NAME %}
        <!-- list a specific files in all udef categories -->
        {% for lCATEGORY in lLIST_CATEGORY %}
          {% for lDOC in lCATEGORY.docs %}
            {% if lDOC.path contains lREF_FILENAME %}
              {% assign lDOC_DESCRIPTION  = lDOC.mx.description  %}
              {% assign lDOC_CATEGORY     = lDOC.collection  %}
              <tr>
                <td><a href='{{ lDOC.url }}'>{{lREF_TOPIC_NAME}}</a></td>
                <td>{{lREF_TOPIC_CLASSIFIER}}</td>
                <td><a href='/{{ lDOC_CATEGORY }}'>{{lDOC_CATEGORY}}</a></td>
                <td>{{lDOC_DESCRIPTION}}</td>
              </tr>
            {% endif %}
          {% endfor %}
       {% endfor %}
      {% endfor %}
     </tbody>
  </table>
</div>
{% endif %}
      



