<!DOCTYPE html>
<html lang="en">

<head>
  {%- include base.head.meta.html -%}
  <title>{{ page.title | split: '/' | slice: -2, 1 }}</title>
  {%- include base.head.other.html -%}
  {%- include base.head.framework.html -%}
</head>
<body>
  <p>layout theme:base</p>
  <!-- site.header -->
  {%- include base.site.header.html -%}

  <!-- md.content -->
  {{ content }}   

  <!-- site.footer -->
  {%- include base.site.footer.html -%}

  <!-- Optional additional JS (if needed) -->
  <script src="{{ '/assets/js/extra.js' | relative_url }}"></script>
</body>

</html>

