<!DOCTYPE html>
<html lang="en">

<head>
  {%- include site.head.meta.html -%}
  <title>{{ page.title | split: '/' | slice: -2, 1 }}</title>
  {%- include site.head.asset.html -%}
</head>
<body>
  <!-- site.header -->
  {%- include site.header.html -%}

  <!-- site.page.content -->
  <main > 
    {{ content }}   
    {%- include domain.list.category.html -%}
  </main> 

  <!-- site.footer -->
  {%- include site.footer.html -%}

  <!-- Optional additional JS (if needed) -->
  <script src="{{ '/assets/js/table.js' | relative_url }}"></script>
</body>

</html>

